.container {
    display: flex;
    flex-wrap: wrap;
}

.currentWeather div {
    border: 1px solid gray;
    border-radius: 25px;
}

.currentWeather p {
    font-size: 20px;
}

.cardDay {
    background-color: cornflowerblue;
    border-radius: 25px;
}

#cityBtn {
    font-size: 10px;
    border-radius: 10px;
}

#cityName {
    font-weight: normal;
    font-size: 25px;
}

#uv-yellow {
    background-color: yellow;
}

.uv-red {
    background-color: red;
}